/* styles.css */

/* Import Tailwind's base styles */
@tailwind base;

/* Import Tailwind's component classes */
@tailwind components;

/* Import Tailwind's utility classes */
@tailwind utilities;

/* 
  Custom CSS for Pausing Animations on Hover 
  This section adds a custom keyframe for pausing animations and a corresponding utility class.
*/

/* Define keyframes for pausing animation */
@keyframes pause {
  from {
    animation-play-state: running;
  }
  to {
    animation-play-state: paused;
  }
}

/* Utility class to pause animations when hovered */
.animate-pause:hover {
  animation-play-state: paused;
}
